annotated-types
anyio
click
colorama
fastapi
greenlet
h11
idna
pydantic
pydantic-core
pydantic-settings
python-dotenv
redis
google-auth
sniffio
SQLAlchemy
starlette
typing-inspection
typing_extensions
uvicorn
passlib
pydantic[email]
asyncmy
requests
sqlmodel
datetime
pyyaml 
bcrypt
PyJWT
pymysql
alembic
fastapi-mail
celery
asgiref
langchain
langchain_groq
langchain-community
upstash_redis
python-multipart
python-docx
